

mixin services(object)
	.block-service
		+png(object.src)
		.divider-xs-2
		h5
			a(href=object.href)!=object.title

mixin services-carousel(services)
	// Owl Carousel
	.owl-carousel.offset-top-6.owl-carousel-3.owl-carousel-3-mod-1(
	data-xl-items='3',
	data-lg-items='3',
	data-md-items='3',
	data-sm-items='1',
	data-items='1',
	data-stage-padding='15',
	data-loop='true',
	data-dots="true",
	data-lg-margin='30',
	data-xs-margin='30',
	data-margin='30',
	data-sm-dots-each="3",
	data-mouse-drag="true"
	)
		each item in services
			.owl-item
				+services(item)