section.section-50.section-lg-120
	.container
		h3.text-center.divider-sm.divider-sm-mod-1 3 Columns Clients

		// Owl Carousel
		.owl-carousel.offset-top-87.owl-carousel-1.text-center(
		data-md-items='3',
		data-sm-items='1',
		data-items='1',
		data-stage-padding='15',
		data-loop='true',
		data-dots="true",
		data-lg-margin='30',
		data-xs-margin='30',
		data-margin='30',
		data-sm-dots-each="1",
		data-mouse-drag="true"
		)
			.owl-item.img-width-auto
				+png("clients-5-150x135")
				h5.offset-top-24
					a(href="#") Tourner Co.
				a(href="#").d-inline-block.txt-gray-dark.offset-top-6 www.demolink.org
				p.offset-top-12 Tourner Co. offers its customers high-quality vintage-styled clothing for men and women.

			.owl-item.img-width-auto
				+png("clients-6-150x135")
				h5.offset-top-24
					a(href="#") Frank’s Co.
				a(href="#").d-inline-block.txt-gray-dark.offset-top-6 www.demolink.org
				p.offset-top-12 Owned by Frank Smith, this company sells affordable clothes and footwear all over the world.

			.owl-item.img-width-auto
				+png("clients-7-150x135")
				h5.offset-top-24
					a(href="#") Retro Press
				a(href="#").d-inline-block.txt-gray-dark.offset-top-6 www.demolink.org
				p.offset-top-12 Established in 1990s, Retro Press provides businesses worldwide with top-notch merchandise and promotion services.

			.owl-item.img-width-auto
				+png("clients-5-150x135")
				h5.offset-top-24
					a(href="#") Tourner Co.
				a(href="#").d-inline-block.txt-gray-dark.offset-top-6 www.demolink.org
				p.offset-top-12 Tourner Co. offers its customers high-quality vintage-styled clothing for men and women.

			.owl-item.img-width-auto
				+png("clients-6-150x135")
				h5.offset-top-24
					a(href="#") Frank’s Co.
				a(href="#").d-inline-block.txt-gray-dark.offset-top-6 www.demolink.org
				p.offset-top-12 Owned by Frank Smith, this company sells affordable clothes and footwear all over the world.

			.owl-item.img-width-auto
				+png("clients-7-150x135")
				h5.offset-top-24
					a(href="#") Retro Press
				a(href="#").d-inline-block.txt-gray-dark.offset-top-6 www.demolink.org
				p.offset-top-12 Established in 1990s, Retro Press provides businesses worldwide with top-notch merchandise and promotion services.