section.section-xl-120.section-50.bg-downriver
	.container
		h3.divider-sm-mod-1.divider-sm.text-center.txt-white James' Projects
		// Owl Carousel
		.owl-carousel.offset-top-96.owl-carousel-4(
		data-lg-items='4',
		data-md-items='3',
		data-sm-items='1',
		data-items='1',
		data-stage-padding='15',
		data-loop='true',
		data-dots="true",
		data-lg-margin='30',
		data-xs-margin='30',
		data-margin='30',
		data-dots-each="4",
		data-mouse-drag="true"
		)
			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-2-270x270")
					.caption
						h5
							a(href="#") Economics & Strategy for Business

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-3-270x270")
					.caption
						h5
							a(href="#") Project Management

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-4-270x270")
					.caption
						h5
							a(href="#") Partnership — The Heart of Business

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-5-270x270")
					.caption
						h5
							a(href="#") Online Store SEO Research

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-2-270x270")
					.caption
						h5
							a(href="#") Economics & Strategy for Business

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-3-270x270")
					.caption
						h5
							a(href="#") Project Management

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-4-270x270")
					.caption
						h5
							a(href="#") Partnership — The Heart of Business

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-5-270x270")
					.caption
						h5
							a(href="#") Online Store SEO Research

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-2-270x270")
					.caption
						h5
							a(href="#") Economics & Strategy for Business

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-3-270x270")
					.caption
						h5
							a(href="#") Project Management

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-4-270x270")
					.caption
						h5
							a(href="#") Partnership — The Heart of Business

			.owl-item
				.thumbnail-custom-3
					a(href="#").img-link
						+jpg("team-member-5-270x270")
					.caption
						h5
							a(href="#") Online Store SEO Research