// Parallax
+parallax({
	img: 'index-6-1920x678',
	innerClass: 'parallax-overlay'
})
	.container.section-80.section-lg-120
		.row.justify-content-center.justify-content-xl-end
			.col-xl-6.col-lg-8.txt-white
				h3.divider-sm Recent Cases
				// Owl Carousel
				ul.owl-carousel.owl-carousel-5.offset-top-73(
				data-items='1',
				data-stage-padding='0',
				data-loop='false',
				data-margin='30',
				data-dots="true",
				data-mouse-drag="true",
				data-nav='false'
				)
					li.owl-item
						h5 Economics & Strategy for Business
						p.txt-gray-light.offset-top-10 To be successful, your company needs not just to be promoted on the Internet. A successful businessman also has to understand how business and financial strategies work. Let’s examine this question in detail.
						.group-sm-center.justify-content-sm-between
							div
								.d-inline-block.offset-top-30
									.h4.txt-primary -4%
									p Expenses
								.d-inline-block
									.h4.txt-emerland +7%
									p Profit
							a(href="#").btn.btn-sm-3.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-30.d-block.d-sm-inline
								span.icon.icon-md.mdi-presentation
								span  more details

					li.owl-item
						h5 Project Management
						p.txt-gray-light.offset-top-10 Project management is an application of professional knowledge and skills to certain project activities. This term also includes managing your subordinates that may be both experienced and new, but must be qualified to complete the project.
						.group-sm-center.justify-content-sm-between
							div
								.d-inline-block.offset-top-30
									.h4.txt-primary -3%
									p Expenses
								.d-inline-block
									.h4.txt-emerland +12%
									p Profit
							a(href="#").btn.btn-sm-3.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.pull-xs-right.offset-top-30.d-block.d-sm-inline
								span.icon.icon-md.mdi-presentation
								span  more details

					li.owl-item
						h5 Partnership — The Heart of Business
						p.txt-gray-light.offset-top-10 Partnership is always the key reason of any company’s success. Each partner contributes a lot of resources (money, labor, skill etc.) to all aspects of the business, making it more sustainable.
						.group-sm-center.justify-content-sm-between
							div
								.d-inline-block.offset-top-30
									.h4.txt-primary -5%
									p Expenses
								.d-inline-block
									.h4.txt-emerland +8%
									p Profit
							a(href="#").btn.btn-sm-3.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.pull-xs-right.offset-top-30.d-block.d-sm-inline
								span.icon.icon-md.mdi-presentation
								span  more details