section.section-50.section-lg-120.bg-gray-lighter
	.container.text-center
		h3.divider-sm.divider-sm-mod-1.text-center Our Clients
		// Owl Carousel
		.owl-carousel.offset-top-88.owl-carousel-1(
		data-xl-items='5',
		data-lg-items='4',
		data-md-items='3',
		data-sm-items='2',
		data-items='1',
		data-stage-padding='60',
		data-loop='true',
		data-dots="true",
		data-lg-margin='60',
		data-xs-margin='70',
		data-margin='200',
		data-sm-dots-each="2",
		data-mouse-drag="true"
		)
			img(src="images/index-10-150x150.png" alt="" width="150" height="150")
			img(src="images/index-11-150x150.png" alt="" width="150" height="150")
			img(src="images/index-12-150x150.png" alt="" width="150" height="150")
			img(src="images/index-13-150x150.png" alt="" width="150" height="150")
			img(src="images/index-14-150x150.png" alt="" width="150" height="150")
			img(src="images/index-12-150x150.png" alt="" width="150" height="150")