//- Image
	@param {string} name
mixin img( name )
	- var size = getImageSize( name );
	img( src= setImagePath(setImageExtension(name)), alt='', width= size[0], height= size[1] )&attributes( attributes )


//- Jpg image
	@param {string} name
mixin jpg( name )
	- var size = getImageSize( name );
	img( src= setImagePath(name + '.jpg'), alt='', width= size[0], height= size[1] )&attributes( attributes )


//- Png image
	@param {string} name
mixin png( name )
	- var size = getImageSize( name );
	img( src= setImagePath(name + '.png'), alt='', width= size[0], height= size[1] )&attributes( attributes )

mixin logo()
	svg(width='172px', height='48px', viewbox='0 0 172 48')
		g
			image#Background_xA0_Image(overflow='visible', width='172', height='48', xlink:href='data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/7AARRHVja3kAAQAEAAAAHgAA/+4AIUFkb2JlAGTAAAAAAQMA\
			EAMCAwYAAAGBAAABjQAAAa7/2wCEABALCwsMCxAMDBAXDw0PFxsUEBAUGx8XFxcXFx8eFxoaGhoX\
			Hh4jJSclIx4vLzMzLy9AQEBAQEBAQEBAQEBAQEABEQ8PERMRFRISFRQRFBEUGhQWFhQaJhoaHBoa\
			JjAjHh4eHiMwKy4nJycuKzU1MDA1NUBAP0BAQEBAQEBAQEBAQP/CABEIADAArAMBIgACEQEDEQH/\
			xABeAAEBAAAAAAAAAAAAAAAAAAAABwEBAAAAAAAAAAAAAAAAAAAAABABAQAAAAAAAAAAAAAAAAAA\
			UHARAQAAAAAAAAAAAAAAAAAAAHASAQAAAAAAAAAAAAAAAAAAAFD/2gAMAwEAAhEDEQAAAKAAAAAA\
			AAAAAAAAAAAAAAAAAAAAAAAAAAAD/9oACAECAAEFAAf/2gAIAQMAAQUAB//aAAgBAQABBQCCf//a\
			AAgBAgIGPwAH/9oACAEDAgY/AAf/2gAIAQEBBj8ABP/Z')
		g
			g#SEO
				text(transform='matrix(1.0111 0 0 1 0.8938 37.6505)', fill='#43CA83') SEO
			g
				text(transform='matrix(1.0111 0 0 1 63.4132 37.6505)', fill='#0E3655') AGENT
			g
				g
					polygon(fill-rule='evenodd', clip-rule='evenodd', fill='#43CA83', points='46.866,32.96 41.123,42.798 44.984,45.003 \
					50.727,35.166 			')
			g
				text(transform='matrix(1 0 0 1 4.0708 9.5547)', fill='#C1C1C1', ) Marketing and SEO agency



mixin blockquote(q, img, w,h,cite,text)
	blockquote.quote-2
		p.block-q
			q=q
		.unit
			.unit-left.round
				img(src=img alt="" width=w height=h)
			.unit-body
				h5.txt-primary
					cite=cite
				p.txt-italic=text


mixin thumbnail-custom(variant,src,w,h,title,text,date,author)
	.thumbnail-custom(class=variant)
		img(src=src alt="" width=w height=h)
		.caption
			h6.txt-primary
				a(href="blog-post.html")=title
			p=text
			.meta
				.meta-date
					span.icon.icon-emerland.icon-md.mdi-calendar-clock.text-middle
					span.text-middle=date
				.meta-author
					span.icon.icon-emerland.icon-md.mdi-account-outline.text-middle
					a(href="blog-post.html").text-middle=author

mixin thumbnail-custom-2(variant,src,w,h,title,text,date,author,link1,link2,link3)
	.thumbnail-custom.thumbnail-custom-mod-1(class=variant)
		img(src=src alt="" width=w height=h)
		.caption
			h6.txt-primary
				a(href="blog-post.html")=title
			p=text
			.meta
				.block-time.d-md-inline-block
					span.icon.icon-emerland.icon-md.mdi-calendar-clock.text-middle
					span.text-middle=date
				.block-author.d-md-inline-block
					span.icon.icon-emerland.icon-md.mdi-account-outline.text-middle
					a(href="blog-post.html").text-middle=author
				.block-tags.d-md-inline-block
					span.icon.icon-emerland.icon-md.mdi-tag-outline.text-middle
					a(href="#")=link1
					=", "
					a(href="#")=link2
					=", "
					a(href="#")=link3

mixin thumbnail-custom-3(variant,src,w,h,title,text,date,author,link1,link2,link3,day,month)
	.modern-blog
		.thumbnail-custom.thumbnail-custom-mod-2(class=variant)
			img(src=src alt="" width=w height=h)
			.caption
				.block-author.d-md-inline-block
					span.icon.icon-emerland.icon-md.mdi-account-outline.text-middle
					a(href="blog-post.html").text-middle.font-italic=author
				h4.txt-primary
					a(href="blog-post.html")=title
				p=text
				.block-tags.d-md-inline-block.offset-top-20
					span.icon.icon-emerland.icon-md.mdi-tag-outline.text-middle
					a(href="#")=link1
					=", "
					a(href="#")=link2
					=", "
					a(href="#")=link3
		.modern-date
			h4=day
			p=month

mixin breadcrumbs(item,page_parent)
	case item
		when 1
			section.bg-breadcrumbs.text-center.text-md-left.txt-white.section-md-55.section-15
				.container
					ol.breadcrumb
						li: a(href="index.html") Home
						li.active!=page_active
					h1.offset-top-20!=page_active_h1
		when 2
			section.bg-breadcrumbs.text-center.text-md-left.txt-white.section-md-55.section-15
				.container
					ol.breadcrumb
						li: a(href="index.html") Home
						li: a(href="#")=page_parent
						li.active!=page_active
					h1.offset-top-20!=page_active_h1


mixin team_member(src, w, h,name,work,text,email )
	.round-photo
		img(src=src alt="" width=w height=h)
	h5.txt-primary.offset-top-25
		a(href="team_member.html")=name
	p.offset-top-8.divider-xs.divider-xs-mod-1=work
	p.txt-gray-darker.offset-top-30.offset-md-top-50.inset-lg-left-10.inset-lg-right-10=text


mixin team_member-2(src,name,work,email )
	.round-photo
		+jpg(src)
	h5.txt-primary.offset-top-25
		a(href="team_member.html")=name
	p.offset-lg-top-8.offset-top-0.divider-xs.divider-xs-mod-1=work
	.telephone.offset-lg-top-47.offset-top-32
		span.icon.icon-base.icon-sm.mdi-phone.text-middle
		=" "
		a(href="callto:#").text-middle.txt-gray-darker 1-800-1234-567
	.mail.offset-top-6
		span.icon.icon-base.icon-sm.mdi-email-outline.text-middle
		=" "
		a.text-middle.txt-shake(href="mailto:#")=email
	.block-social.offset-top-10
		ul.list-inline.list-inline-mod-1
			li
				a(href="#").icon.icon-xs.icon-gray.fa-facebook
			li
				a(href="#").icon.icon-xs.icon-gray.fa-twitter
			li
				a(href="#").icon.icon-xs.icon-gray.fa-google

mixin team_member-3(src,name,work,text)
	.unit
		.unit-left.round
			+jpg(src)
		.unit-body
			h5.txt-primary
				a(href="team_member.html")=name
			p.offset-top-8=work
			.telephone.offset-top-17
				span.icon.icon-base.icon-sm.mdi-phone.text-middle
				=" "
				a(href="callto:#").text-middle.txt-gray-darker 1-800-1234-567
	.inset-lg-right-30.offset-top-24
		p=text
	a.btn.btn-sm-2.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-19(href="#")
		span.icon.icon-md.mdi-email-outline
		span  get in touch

mixin team_member-4(src,name,work)
	.thumbnail-custom-2
		+jpg(src)
		.caption
			h5.txt-white
				a(href="team_member.html")=name
			p.txt-gray-light.offset-top-7=work
			a.btn.btn-sm-2.btn-primary.btn-icon.btn-icon-left.btn-shadow.btn-rect.offset-top-19(href="#")
				span.icon.icon-md.mdi-email-outline
				span  get in touch

mixin pagination()
	ul.pagination-custom
		li.disabled
			span.icon.mdi-arrow-left-bold.icon-md
		li.disabled
			span 1
		li
			a(href="#") 2
		li
			a(href="#") 3
		li.disabled
			span ...
		li
			a(href="#") 10
		li
			a(href="#").icon.mdi-arrow-right-bold.icon-md


mixin icon-list(icon_1,title_1, text_1, icon_2,title_2, text_2,icon_3,title_3, text_3)
	.row.row-50.text-center
		.col-lg-4.inset-lg-left-38.inset-lg-right-38
			span.icon.icon-lg-round.icon-yellow-round.icon-shadow(class=icon_1)
			h5.txt-primary.divider-xs.offset-top-15.offset-lg-top-25=title_1
			p.offset-top-40.offset-lg-top-57=text_1

		.col-lg-4.inset-lg-left-38.inset-lg-right-38
			span.icon.icon-lg-round.icon-emerland-round.icon-shadow(class=icon_2)
			h5.txt-primary.divider-xs.offset-top-15.offset-lg-top-25!=title_2
			p.offset-top-40.offset-lg-top-57=text_2

		.col-lg-4.inset-lg-left-38.inset-lg-right-38
			span.icon.icon-lg-round.icon-shake-round.icon-shadow(class=icon_3)
			h5.txt-primary.divider-xs.offset-top-15.offset-lg-top-25=title_3
			p.offset-top-40.offset-lg-top-57=text_3

mixin icon-list-1(icon_1,title_1, text_1, icon_2,title_2, text_2,icon_3,title_3, text_3)
	.row.row-50.text-center
		.col-lg-4.inset-lg-left-38.inset-lg-right-38
			span.icon.icon-lg-round.icon-yellow-round.icon-shadow(class=icon_1)
			h5.txt-primary.divider-xs.offset-top-15.offset-lg-top-25=title_1
			p.offset-top-35.offset-lg-top-57=text_1

		.col-lg-4.inset-lg-left-38.inset-lg-right-38
			span.icon.icon-lg-round.icon-emerland-round.icon-shadow(class=icon_2)
			h5.txt-primary.divider-xs.offset-top-15.offset-lg-top-25!=title_2
			p.offset-top-35.offset-lg-top-57=text_2

		.col-lg-4.inset-lg-left-38.inset-lg-right-38
			span.icon.icon-lg-round.icon-shake-round.icon-shadow(class=icon_3)
			h5.txt-primary.divider-xs.offset-top-15.offset-lg-top-25=title_3
			p.offset-top-35.offset-lg-top-57=text_3




//- Png image
mixin png(name)
	- var size = name.split('-').pop().split('x');
	img(src='images/' + name + '.png', alt='', width=size[0], height=size[1])&attributes( attributes )

//- Jpg image
mixin jpg(name)
	- var size = name.split('-').pop().split('x');
	img(class=variant src='images/' + name + '.jpg', alt='', width=size[0], height=size[1])

//- Png image
mixin png-2(variant, name)
	- var size = name.split('-').pop().split('x');
	img(class=variant src='images/' + name + '.png', alt='', width=size[0], height=size[1])



//- Block Career
mixin career(variant,text,title,span_1,span_2,span_3 )
	.block-career(class=variant)
		p=text
		h5=title
		ul
			li
				span.icon-xs.icon-black-opacity.mdi-map-marker
				span=span_1
			li
				span.icon-xs.icon-black-opacity.mdi-timer-sand
				span=span_2
			li
				span.icon-xs.icon-black-opacity.mdi-calendar
				span=span_3
		a.mdi-arrow-right-bold.icon-md-2(href="#")


mixin switch(variant,id,label)
	.switch-custom(class=variant)
		input.switch-checkbox(id=id, type='checkbox', name='switch' checked)
		label.switch-label(for=id)=label

//- Parallax Section
	@param {object} obj - parameters storage
	@param {string} obj.img - image path
	@param {string} obj.innerClass - content wrapper class
mixin parallax( obj )
	section.section.parallax-container( data-parallax-img= setImagePath(setImageExtension(obj.img)) )&attributes(
	attributes )
		.parallax-content( class= obj.innerClass )
			block

//- progress - object{progress}
mixin progress-bar-linear(progress)
	// Linear progress bar
	article.progress-linear(class= progress.mod)
		.progress-header
			if( progress.title )
				p= progress.title
			span.progress-value= progress.valueTo
		.progress-bar-linear-wrap
			.progress-bar-linear