section.section-50.section-lg-120
  .container
    h3.divider-sm.divider-sm-mod-1.text-center Testimonials
    // Owl Carousel
    .owl-carousel.offset-top-85.owl-carousel-3(
    data-xl-items='3',
    data-lg-items='3',
    data-md-items='2',
    data-sm-items='1',
    data-items='1',
    data-stage-padding='15',
    data-loop='true',
    data-dots="true",
    data-lg-margin='30',
    data-xs-margin='30',
    data-margin='30',
    data-sm-dots-each="1",
    data-mouse-drag="true"
    )
      .owl-item
        +blockquote("I would just like to say thank you for your effective online marketing services, for your friendly and professional support and answers to my questions!", "images/index-7-70x70.jpg", "70", "70", "Frank Harrison", "Manager, demolink.org")
      .owl-item
        +blockquote("Thank you for the services you delivered. You helped my website to attract new partners and promote services to a greater number of customers.", "images/index-8-70x70.jpg", "70", "70", "Emma Mason", "Designer, demolink.org")
      .owl-item
        +blockquote("SEO Agent is the only agency that provides high quality online marketing and promotion services. The members of their team are real professionals in SEO.", "images/index-9-70x70.jpg", "70", "70", "Maria Reyes", "Writer, demolink.org")

