section.section-50.section-lg-120.bg-gray-lighter
	.container
		.row.row-30
			.col-lg-4
				.inset-lg-right-30
					h5.txt-gray-darker Testimonials
					.divider-lg-2.offset-top-10
					// Owl Carousel
					.owl-carousel.owl-carousel-2.offset-top-30(
					data-xl-items='1',
					data-lg-items='1',
					data-md-items='3',
					data-sm-items='1',
					data-items='1',
					data-stage-padding='0',
					data-loop='true',
					data-dots="true",
					data-lg-margin='30',
					data-md-margin='30',
					data-sm-margin='30',
					data-xs-margin='30',
					data-margin='0',
					data-sm-dots-each="1",
					data-mouse-drag="true"
					)
						.owl-item
							+blockquote("I would just like to say thank you for your effective online marketing services, for your friendly and professional support and answers to my questions!", "images/index-7-70x70.jpg", "70", "70", "Frank Harrison", "Manager, demolink.org")
						.owl-item
							+blockquote("Thank you for the SEO services you delivered. You helped my website to attract new partners and promote my own services to a greater number of customers.", "images/index-8-70x70.jpg", "70", "70", "Emma Mason", "Designer, demolink.org")
						.owl-item
							+blockquote("SEO Agent is the only agency that provides high quality online marketing and promotion services. The members of their team are real professionals in SEO.", "images/index-9-70x70.jpg", "70", "70", "Maria Reyes", "Writer, demolink.org")

			.col-lg-8
				h5.txt-gray-darker Contact Us
				.divider-lg-2.offset-top-10
				// RD Mailform
				form.rd-mailform.offset-top-30(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
					.row.row-20
						.col-md-6
							.form-wrap.form-wrap-outside
								label.form-label-outside(for="contact-name1") First Name
								input#contact-name1.form-input(type="text" name="name" data-constraints="@Required")
						.col-md-6
							.form-wrap.form-wrap-outside
								label.form-label-outside(for="last-name") Last Name
								input#last-name.form-input(type="text" name="name" data-constraints="@Required")
						.col-md-6
							.form-wrap.form-wrap-outside
								label.form-label-outside(for="contact-email") E-Mail
								input#contact-email.form-input(type="email" name="email" data-constraints="@Required @Email")
						.col-md-6
							.form-wrap.form-wrap-outside
								label.form-label-outside(for="contact-phone") Phone
								input#contact-phone.form-input(type="text" name="phone" data-constraints="@Required @Numeric")
						.col-sm-12
							.form-wrap.form-wrap-outside
								label.form-label-outside(for="contact-message") Message
								textarea#contact-message.form-input(name="message" data-constraints="@Required")
							button(type="submit").btn.btn-primary.btn-sm-2.btn-shadow.btn-rect.btn-icon.btn-icon-left.offset-top-18
								span.icon.icon-white.icon-md.mdi-message-text-outline
								span send message